{% extends "admin.html.twig" %}

{% block  catAdmin %}
<div class="main-panel">

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="{% if app.request.attributes.get('_route') starts with 'categories.edit' %}col-md-10{% else %}col-md-6{% endif %}">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">{% block titleCat %}{% endblock %}</div>
                            <p class="card-category">{% block nbrcat %}{% endblock %}</p>
                        </div>
                        <div class="card-body">
                            {% block  catEdit %}{% endblock %}
                            {% block cat %}{% endblock %}
                        </div>
                        <div class="card-footer">
                            <div class="legend">
                                <nav aria-label="Page navigation example">
                                    {% block pagination %}{% endblock %}
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
                {% if app.request.attributes.get('_route') == 'categories.index' %}
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add Categorie</h4>
                            </div>
                            <div class="card-body">
                                {% block addcat %}{% endblock %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}