{# templates/registration/waiting_verification.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Vérification en cours{% endblock %}

{% block body %}
    <h1>Vérification en cours</h1>
    <p>Un e-mail de vérification a été envoyé à votre adresse e-mail. Veuillez cliquer sur le lien dans l'e-mail pour activer votre compte.</p>
{% endblock %}