{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Authentification à deux facteurs</h2>

        <form method="POST" action="{{ path('two_factor_google_verify') }}">
            <div class="form-group">
                <label for="two_factor_code">Entrez le code de votre application Google Authenticator</label>
                <input
                        type="text"
                        name="two_factor_code"
                        id="two_factor_code"
                        class="form-control"
                        required
                        maxlength="6"
                        placeholder="Code à 6 chiffres"
                >
            </div>

            <button type="submit" class="btn btn-primary">Vérifier</button>
        </form>
    </div>
{% endblock %}