{% extends 'base.html.twig' %}

{% block title %}New Share{% endblock %}

{% block body %}
    <h1>Create new Share</h1>

    {{ include('share/_form.html.twig') }}

    <a href="{{ path('app_share_index') }}">back to list</a>
{% endblock %}
